*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgba(231, 245, 250, 0.5);
  padding: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  margin: 0 auto;
}

#main-container {
  width: 80%;
  max-width: 85%;
}

#nav-container {
  display: flex;
  justify-content: center;
}

#nav-logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#nav-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#nav-middle p {
  opacity: 0.4;
}

#nav-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

#external-link {
  opacity: 0.5;
  width: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
  margin: 0;
}

#logo-img {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

.gh {
  margin-left: 25px;
}

#native-name {
  opacity: 0.4;
  margin-top: 10px;
}

/* INPUT STYLES */

#input-container {
  display: block;
  margin: 50px 0;
}

input {
  background: #fff;
  width: 100%;
  height: 60px;
  text-align: center;
  border: 0;
  border-radius: 10px;
  font-size: 1.05em;
  outline: none;
  transition: all 0.3s;
}

input:focus {
  box-shadow: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

/* MAIN CONTENT */

#main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  width: 30%;
  border-radius: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
}

.card-img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.flag {
  width: 100%;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-title {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.card-info {
  padding: 20px;
  display: flex;
  align-items: center;
  height: 50px;
}

.card-info-left {
  opacity: 0.5;
}

.card-info-right {
  flex-grow: 1;
  text-align: right;
  font-weight: 600;
}

#country-name,
#native-name {
  padding: 0 20px;
  text-align: center;
  line-height: 1.3em;
}

/* ABOUT PAGE STYLES */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  margin-top: 50px;
}

#about-text {
  margin: 30px 0;
  line-height: 2em;
  font-size: 1.1em;
  width: 45%;
}

.styled-link {
  color: #1a0dab;
}

.styled-link:visited {
  color: #609;
}

/* RESPONSIVE */

@media (max-width: 991.98px) {
  body {
    padding: 40px;
  }

  #about-text {
    width: 90%;
  }
}

@media (max-width: 767.98px) {
  body {
    padding: 40px 0;
  }

  #nav-middle {
    display: none;
  }

  .card {
    width: 47%;
  }
}

@media (max-width: 575.98px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 375.98px) {
  body {
    padding: 30px 0;
  }

  #logo {
    width: 100px;
  }

  #input-container {
    margin: 40px 0 10px 0;
  }

  #about-text {
    width: 100%;
  }

  .main-content {
    height: auto;
  }
}
